<div id="<%= dom_id order %>">
  <div>
    <strong>Name:</strong>
    <%= order.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= order.address %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= order.email %>
  </div>

  <div>
    <strong>Pay type:</strong>
    <%= order.pay_type %>
  </div>

</div>
