<h3>
  <%= t("order_mailer.received.body.greeting", name: @order.name) %>
</h3>

<p>
  <%= t("order_mailer.received.body.thank_you") %>
</p>

<p>
    <%= t("order_mailer.received.body.your_order") %>
</p>

<% @order.line_items.includes(:product).each do |line_item| %>
  <%= format("%2d x %s",
             line_item.quantity,
             truncate(line_item.product.name, length: 50))%>
<% end %>

<%# TODO: remove if deliveries seem unfeasible %>
<p>
  <%= t("order_mailer.received.body.notice_another_email") %>
</p>