<h2>
  Contact Us
</h2>

<%= form_with url: "/contact", method: :post do |form| %>
  <div>
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :subject, "Subject:" %>
    <%= form.text_field :subject %>
  </div>

  <div>
    <%= form.label :body, "Body:" %>
    <%= form.textarea :body %>
  </div>

  <%= form.submit "Send" %>
<% end %>
