<% container_class = 'card__container' %>

<article class="card" id="<%= dom_id product %>">

  <% if product.image.attached? %>
    <%= image_tag product.image, class: "card__img" %>
  <% else %>
    <% container_class += ' card__container--no-img' %>
  <% end %>

  <div class="<%= container_class %>">
    <h2 class="card__title">
      <%= product.name %>
    </h2>

    <p class="card__paragraph">
      <%= product.description %>
    </p>

    <p class="card__price">
      Price: <%= product.price_in_cents %>
    </p>

    <% if product.stock > 0 %>
      <%# ! Quantity picker, maybe mention the stock available %>
    <% else %>
      <%# ! No stock available %>
    <% end %>

    <a href="#" class="card__button">Comprar</a>

    <%# ! Add "add to cart" as well %>
  </div>
</article>
