<%= turbo_stream_from "products" %>
<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<% content_for :title, "Products" %>

<h2>Products</h2>

<p>Flowers that last</p>

<%# TODO: Turn into pretty button: %>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to "New product", new_product_path %>
<% end %>

<section class="products-container">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <%= render "products/product_card", product: product %>

        <%# <p><%= link_to "Show this product", product </p> %>
      <% end %>
    <% end %>
  <% end %>
</section>

<%= render "layouts/pagination" %>
