<footer>
  <div class="col">
    <%#= image_tag "logo.svg", class: "logo", alt: "logo" %>

    <h4>Follow Us</h4>

    <div class="icons">
      <%# TODO: Add links to socials after they're created %>
      <span title="Coming soon!">
        <%= image_tag "socials/facebook-logo.png", alt: "Facebook logo" %>
        <%= image_tag "socials/instagram-logo.png", alt: "Instagram logo" %>
      </span>
    </div>
  </div>

  <div class="col">
    <h4>About</h4>
    <%= link_to "About Us", about_url %>
    <%# <a href="#">Delivery Information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a> %>
    <%= link_to "Contact Us", contact_url %>
  </div>

  <div class="col">
    <h4>My Account</h4>

    <a href="#">Sign In</a>
    <%= link_to "View Cart", cart_url %>
    <a href="#">My Wishlist</a>
    <%# <a href="#">Track My Order</a> %>
  </div>

  <div class="attribution">
    <p>made by solise</p>
  </div>
</footer>
